.cardWrapper {
  display: flex;
  gap: 24px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 358px;
}

.mainImg {
  width: 290px;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
  width: 290px;
  height: 310px;
}

.titleWrap {
  display: flex;
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  margin-left: auto;
}

.description {
  margin: 24px 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info {
  display: flex;
}

.icon.star {
  stroke: var(--rating);
  fill: var(--rating);
  margin-right: 4px;
}

.rating {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  line-height: 1.5;
  margin-right: 24px;
}

.favoriteBtn {
  background-color: transparent;
  border: none;
  /* padding: 0; */
}

.icon {
  fill: transparent;
  stroke: var(--main);
}

.heart.active {
  fill: var(--button);
  stroke: var(--button);
}

.categoriesWrapper {
width: 526px;
height: 96px;
margin-bottom: 24px;
}

.showMoreBtn {
  padding: 16px 40px;
  margin-top: auto;
}

.showMoreBtn:hover, 
.showMoreBtn:focus {
  background-color: var(--button-hover);
}

iconLocation {
  margin-right: 4px;
}
